@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    string pageTitle = string.Format("{0} - {1}", Localizer["nHibernate Localization"], ViewBag.Title);
}
<!DOCTYPE html>
<html>
<head>
    <title>@pageTitle</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/msdropdown/css/dd.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/msdropdown/css/skin2.css")"  rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="page">
        <div id="header">
            @await Component.InvokeAsync("LanguageMenu")
            <div id="menucontainer">
                <ul id="menu">
                    <li><a asp-action="Index" asp-controller="Home">@Localizer["Home"]</a></li>
                    <li><a asp-action="About" asp-controller="Home">@Localizer["About"]</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            <label>@Localizer["Copyright © 2013 - Raul ILOC & Dodu Cosmin"]</label>
        </div>
    </div>
    @{
        var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? string.Empty : $"~{Context.Request.Path.Value}";
    }
    <script type="text/javascript">
        var paramObject = {
            UrlChangeCulture: '@Url.Content("~/Account/ChangeCurrentCulture")'
        }

        function changeCurrentCulture(culture) {
            document.location = paramObject.UrlChangeCulture + "?culture=" + culture + "&returnUrl=" + "@returnUrl";
            return true;
        }
    </script>

    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.dd.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Layout.js")" type="text/javascript"></script>
    @RenderSection("scripts", false)
</body>
</html>
