@using Microsoft.AspNetCore.Mvc.Localization
@model AddressModel
@inject IViewLocalizer Localizer
@{
    List<SelectListItem> countryList = ViewBag.AvailableCountries;
}
<tr>
    <td>
        @Html.LabelFor(model => model.FirstName)
    </td>
    <td>
        @Html.TextBoxFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </td>
    <td>
        @Html.LabelFor(model => model.LastName)
    </td>
    <td>
        @Html.TextBoxFor(model => model.LastName)
    </td>
    <td>
        @Html.ValidationMessageFor(model => model.LastName)
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.Street)
    </td>
    <td colspan="3">
        @Html.TextBoxFor(model => model.Street, new { style = "width: 99%;" })
    </td>
    <td>
        @Html.ValidationMessageFor(model => model.Street)
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.ZipCode)
    </td>
    <td>
        @Html.TextBoxFor(model => model.ZipCode)
        @Html.ValidationMessageFor(model => model.ZipCode)
    </td>
    <td>
        @Html.LabelFor(model => model.Town)
    </td>
    <td>
        @Html.TextBoxFor(model => model.Town)
    </td>
    <td>
        @Html.ValidationMessageFor(model => model.Town)
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.CountryId)
    </td>
    <td colspan="4">
        @Html.DropDownListFor(model => model.CountryId, countryList, new { @class = "addressDropDown" })
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.Phone)
    </td>
    <td>
        @Html.TextBoxFor(model => model.Phone)
        @Html.ValidationMessageFor(model => model.Phone)
    </td>
    <td>
        @Html.LabelFor(model => model.Fax)
    </td>
    <td>
        @Html.TextBoxFor(model => model.Fax)
    </td>
    <td>
        @Html.ValidationMessageFor(model => model.Fax)
    </td>
</tr>
